<header>
    <a href="/" class="logo">Movies Inventory</a>
    <nav>
        <ul>
           <li><a href="/movies">Movies</a></li> 
           <li><a href="/genres">Genres</a></li> 
           <!--  it's  not settled yet -->
           <li><a href="#">Add Movie</a></li> 
        </ul>
    </nav>
</header>