<header>
    <a href="/" class="logo">Movies Inventory</a>
    <nav>
        <ul>
           <li><a href="/movies">Movies</a></li> 
           <li><a href="/genres">Genres</a></li> 
           <li><a href="/movies/addmovie">Add Movie</a></li> 
           <li><a href="/genres/addgenre">Add Genre</a></li> 
        </ul>
    </nav>
</header>