<html>
    <head>
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/addMovie.css">
        <title><%= title %></title>
    </head>
    <body>
        <%- include('partials/header')%>
        <div class="main">
            <h2 class="title"><%= title %></h2>
            <div class="container">
                <%- include('partials/errorsForm')%>
                <form action="/movies/addmovie" method="post">
                    <p>
                        <label for="title">Movie title</label>
                        <input type="text" id="title" name="movieTitle">
                    </p>

                    <p>
                        <label for="releasedate">Release Date</label>
                        <input type="date" id="releasedate" name="movieReleasedate">
                    </p>

                    <p>
                        <label for="rating">Rating</label>
                        <input type="number" id="rating" name="movieRating"
                        step="0.1" min="0" max="10">
                    </p>

                    <p>
                        <label for="genre">Genre</label>
                        <select name="movieGenreid" id="genre">
                            <option value="1">Action</option>
                            <option value="2">Drama</option>
                            <option value="3">Romance</option>
                        </select>
                    </p>

                    <p>
                        <label for="summary">Summary</label>
                        <textarea  id="summary" name="movieSummary"
                        rows="5" cols="33"></textarea>
                    </p>

                    <button type="submit">Add Movie</button>
                </form>
            </div>
        </div>
    </body>
</html>