<html>
    <head>
        <link rel="stylesheet" href="global.css">
        <link rel="stylesheet" href="explore.css">
        <title>Movies Inventory</title>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Movies Inventory</h1>

            <h2>Explore</h2>
            <div class="routes">
                <a href="/movies">Movies</a>
                <a href="/genres">Genres</a>
            </div>
        </div>
    </body>
</html>