<html>
    <head>
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/movies.css">
        <title><%= title %></title>
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="main">
            <h2  class="title">All Movies</h2>
            <div class="movies-container">
                <% movies.forEach(movie => {%>
                <div class="movie">
                    <div class="img-container" style="background-image: url('<%= movie.imagesrc %>');"  >
                    </div>
                    <p><%=movie.title%></p>
                </div>
                <%})%>
            </div>
        </div>    
    </body>
</html>
