<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <ul>
            <% movies.forEach(movie => {%>
            <li><%= movie.title %></li>  
            <%})%>      
        </ul>
        
    </body>
</html>
