body {
    background-color: var(--main-color);
}


.main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 24px;

    min-height: 90vh;
}

.title {
    color: white;
    font-size: 3em;

}

.container {
    --form-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: var(--form-width);
    display: grid;
    grid-auto-rows: repeat(6,1fr);
}

form p {
    margin-top: 12px;
    display: grid;
    gap: 12px;

    font-size: 2em;
    font-weight: 600;
    color: white;
}

input {
    height: 40px;
    border-radius: 8px;
    padding: 1rem;

    font-size: 0.7em;
}

select {
    padding: 1rem;
    font-size: 0.7em;
    font-weight: 500;
    border-radius: 12px;
}

/* the p that includes textarea  */
form p:last-of-type {
    grid-template-rows: 32px 82px;
}

textarea {
    resize: none;
    padding: 8px;

}

input, 
textarea, 
select {
    border: none;
    outline: none;
}

input:focus,
textarea:focus {
    border: 3px solid var(--main-color);
    outline: 4px solid white;
}

button {
    margin-top: 24px;
    padding: 12px;
    border:4px solid white;
    background-color: var(--main-color);
    color: white;

    font-size: 1.8em;
    cursor: pointer;
}

/* style for errors section */

.errors-container {
    min-width: var(--form-width);
}

.errors-container ul {  
    font-size: 1.4em;
    font-weight: 600;
    color: white;
    display: grid;
    gap: 8px;
}

ul li::marker {
    color : red;
}


/* for update form */
.head {
    font-size: 2.5em;
    color: white;
    opacity: 0.9;

    border-bottom: 3px solid white;
    padding-bottom: 16px;
}


